@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  justify-content: space-between;
  background: linear-gradient(180deg, #000414 40%, #112c5b 90%);
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.2);
  padding: 20px 28px;
  height: 700px;
  max-width: 360px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 24px 34px rgba(0, 0, 0, 0.3);
}
.image {
  margin-bottom: 24px;
  border-radius: 10px;
  overflow: hidden;
}
.title, .description, .skill, .link {
  font-size: 18px;
  font-weight: 500; 
  padding: 8px 16px; 
}
.title {
  font-size: 25px;
  font-weight: 700; 
  color: var(--color-text);
  margin-bottom: 8px;
}

.description {
  font-weight: 400;
  color: var(--color-light-text);
  margin-top: 6px;
  line-height: 1.5;
}
.skills {
  width: 100%;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center; 
}


.skill {
  font-size: 20px;
  font-weight: 400;
  border-radius: 25px;
  background: var(--color-dark);
  color: var(--color-light-text);
  transition: background 0.3s ease, color 0.3s ease;

  padding: 2px 22px;
}
.skill:hover {
  background: var(--color-primary);
  color: var(--color-text);
}

.links {
  width: 100%;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}
.link {
  text-decoration: none;
  color: var(--color-text);
  border-radius: 25px;
  background: var(--color-primary);
  transition: background 0.3s ease, transform 0.3s ease;
}.link:hover {
  background: var(--color-secondary);
  transform: translateY(-3px);
}