@import "../../vars.css";

.container {
  position: relative;
  background-color: rgba(12, 12, 12, 0.8);
  border-radius: 15px;
  padding: 50px;
  margin-top: 100px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.title {
  color: var(--color-text);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.aboutImage {
  width: 30%;
  border-radius: 10px;
  margin-right: 20px;
  opacity: 0;
  transition: opacity 0.8s ease-out; 
}

.aboutImage.visible {
  animation: zoomIn 0.8s ease-out forwards; 
}
.aboutItems {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
  list-style: none;
  padding: 20px;
  background-image: linear-gradient(
    90deg,
    rgba(165, 215, 232, 0.42) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.aboutItem:hover {
  background-size: 100% 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.aboutItem img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.aboutItem h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
}

.aboutItem p {
  font-size: 18px;
  line-height: 1.5;
}

@media screen and (max-width: 830px) {
  .container {
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .aboutImage {
    width: 80%;
    margin-bottom: 20px;
  }

  .aboutItems {
    margin-top: 20px;
    width: 100%;
  }

  .aboutItem {
    padding-left: 10px;
    padding-right: 10px;
  }
}
