@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  padding: 58px 10%;
  gap: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.text h2 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 4px;
}

.text p {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 16px;
}

.link {
  display: flex;
  align-items: center;
  gap: 15px;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.link a:hover {
  color: var(--color-primary);
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
    padding: 40px 5%;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .links {
    align-items: center;
  }

  .text h2 {
    font-size: 40px;
    letter-spacing: 1px;
  }

  .text p {
    font-size: 18px;
    letter-spacing: 1px;
  }

  .link a {
    font-size: 18px;
    letter-spacing: 0.5px;
  }
}
