:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #353d5d;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #100322;

  /* Fonts */
  --font-primary: "Lato", sans-serif;
}
